body{
     background-color: #341138;
}
.container {
     position: relative;
     width: 100%;
     height: 100%;
     background-color:  #282339;
     .mini-header{
          display: flex;
          justify-content: flex-end;
          }
          .nav-bar {
               min-height: 70px;
               background-color:  #341138;
               .nav-manu {
                    display: flex;
                    font-size: 15px;
                    justify-content: flex-end;
                    li{
                         list-style: none;
                         margin-top: 2em;
                         a{
                              text-decoration: none; 
                         }
                         .nav-link {
                              color: #E2DCE4;
                              padding: 0 3em;
                           }
                           .nav-link:hover{
                                box-shadow: 0 14px 14px 0 #FFF;
                                cursor: pointer;
                           }
                    }
               }
     }
     .logo{
          padding-top: 20px;
          padding-left: 20px;
          height: 50px;
          width: 110px;
      }
     .header-link{
          padding: 0 2em;
          color: #E2DCE4;
          text-decoration: none;  
     }
     .header-link:hover{
          box-shadow: 0 14px 14px 0 #FFF;
          cursor: pointer;
     } 
}

 
.main-footer {
     background-color: #282339;
     padding: 1em;
     box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.39);
     -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.39);
     -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.39);
     ul{
          display: flex;
          justify-content: space-evenly;
          .FB{
               width: 85px;
               height: 40px;
               margin-top: 2em;
          }
          li {
               font-size: 1.2em;
               color: #E2DCE4;
               list-style: none;
          }
     }
     
}

